{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}
<a href="{{ path("question_show", {'question_id': question.id}) }}">
    Буцах
</a>
<h3>Асуулт Засах</h3>

{{ form_start(question_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(question_form) }}

    {{ form_row(question_form.title) }}
    {{ form_row(question_form.question) }}

    <input type="submit" value="Засах" class="btn btn-primary">

{{ form_end(question_form) }}

{% endblock %}
