{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}
<a href="{{ path("profile", {'user_id': user.id}) }}">
    Буцах
</a>
<h3>Хувийн мэдээлэл засах хэсэг</h3>

{{ form_start(user_form, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-8'}}) }}
    {{ form_errors(user_form) }}

    {{ form_row(user_form.nickname) }}
    {{ form_row(user_form.description) }}

    <input type="submit" value="Засах" class="btn btn-primary">
{{ form_end(user_form) }}

{% endblock %}
