{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}
{% for question in questions %}
<div class="row">
    <div class="col-md-12">
        <h4>
            <a href="{{ path("question_show", {'question_id': question.id}) }}">
                {{ question.title }}
            </a>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Нэр:
        <strong>
            <a href="{{ path("profile", {'user_id': question.user.id}) }}">
                {{ question.user.name }}
            </a>
        </strong>
    </div>
    <div class="col-md-6 text-right">
        Огноо:
        {{ question.createdDate.format('Y-m-d H:i:s') }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">{{ question.question }}</div>
</div>
<div class="row">
    <div class="col-md-6">
        <i>Хариултаа авч чадсан эсэх:</i>
        <strong>
        {% if question.isAnswered() %}
            Тийм
        {% else %}
            Үгүй
        {% endif %}
        </strong>
    </div>
    <div class="col-md-6 text-right">
        <i>Нийт хариултын тоо:</i>
        <strong>{{ question.getAnswerCount }}</strong>
    </div>
</div>
<hr/>
{% endfor %}

<ul class="pagination">
{% for page in pager.pages %}
    {% if pager.current_page == page %}
        <li class="active"><span>{{ page }}</span></li>
    {% else %}
        <li class="disabled">
            <a href="{{ path("question_list", {"page": page }) }}">
                {{ page }}
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}
