{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}


<h1>Нэвтрэх</h1>

{{ form_start(login_form, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-4'}}) }}
{{ form_errors(login_form) }}

{{ form_row(login_form.name) }}
{{ form_row(login_form.password) }}

<input type="submit" value="Нэвтрэх" class="btn btn-primary"/>
<a href="{{ path("register") }}">Шинээр бүртгүүлэх</a>

{{ form_end(login_form) }}


{% endblock %}
