{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-danger">
    {{ flashMessage }}
</div>
{% endfor %}


<h3>Шинээр бүртгүүлэх</h3>

{{ form_start(register_form, {'attr': {'novalidate': 'novalidate', 'class': 'col-lg-4'}}) }}

    {{ form_errors(register_form) }}

    {{ form_row(register_form.name) }}
    {{ form_row(register_form.password.first) }}
    {{ form_row(register_form.password.second) }}

    <input type="submit" value="Бүртгүүлэх" class="btn btn-primary">

{{ form_end(register_form) }}
{% endblock %}
