{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}

<a href="{{ path("edit_profile", {'user_id': user.id}) }}">
    Хувийн мэдээлэл засах
</a>

<table width="100%">
    <tr>
        <td width="50%"><b>Нэр :</b></td>
        <td>{{ user.nickname }}</td>
    </tr>
    <tr>
        <td width="50%"><b>Тодорхойлолт:</b></td>
        <td>{{ user.description }}</td>
    </tr>
    <tr>
        <td width="50%"><b>Нийт хариултын тоо:</b></td>
        <td>{{ total_answer }}</td>
    </tr>
    <tr>
        <td width="50%"><b>Нийт асуултын тоо:</b></td>
        <td>{{ total_question }}</td>
    </tr>
</table>
<br/>
<div>
    <label><b>Сүүлийн 5 хариулт: </b></label>
    <ul>
    {% for answer in answers %}
        <li>
        <a href="{{ path("question_show", {'question_id': answer.questionId}) }}">
            {{ answer.answer }}
        </a>
        </li>
    {% endfor %}
    </ul>
    <br>
    <label><b>Сүүлийн 5 асуулт: </b></label><br/>
    <ul>
    {% for question in questions %}
        <li>
        <a href="{{ path("question_show", {'question_id': question.id}) }}">
            {{ question.title }}
        </a>
        </li>
    {% endfor %}
    </ul>
<div>
{% endblock %}
