{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}

<h2>{{ question.title }}</h2>
<div >
    <div>Нэр:
        <a href="{{ path("profile", {'user_id': question.user.id}) }}">
            {{ question.user.name }}
        </a>
    </div>
    <div>{{ question.createdDate.format('Y-m-d H:i:s')  }}</div>
</div>
<div>
    {{ question.question }}
</div>
<div >

    {% if app.session.get("id") == question.user.id  %}
    <div>
        <a href="{{ path("edit_question", {'question_id': question.id}) }}">
            Засах
        </a>
    </div>
    <div>
        <a href="{{ path("delete_question", {'question_id': question.id}) }}">
            Устгах
        </a>
    </div>
    {% endif %}
</div>
<hr/>
<h3>Хариултууд</h3>
{% for answer in answers %}

<div>
    <div>Нэр:
        <a href="{{ path("profile", {'user_id': answer.user.id}) }}">
            {{ answer.user.name }}
        </a>
    </div>

    <div>{{ answer.createdDate.format('Y-m-d H:i:s') }}</div>
    <div>{{ answer.answer }}</div>
    <div>
        {% if app.session.get("id") == answer.user.id  %}
            <a href="{{ path("delete_answer", {'answer_id': answer.id}) }}">
                Хариултыг устгах
            </a>
        {% endif %}
    </div>
    <div>
        {% if answer.id == question.bestAnswerId  %}
                Зөв хариулт
        {% else %}
            {% if app.session.get("id") == question.user.id %}
            <a href="{{ path("best_answer", {'answer_id': answer.id}) }}">
                 Хариулт зөв үү?
            </a>
            {% endif %}
        {% endif %}
    </div>
    <br/>
</div>
{% endfor %}

<h3>Хариулт бичих</h3>


{% endblock %}
