{% extends 'QandaHelloBundle::layout.html.twig' %}

{% block body %}
<h1>Product Add</h1>

<a href="{{ path("product_list") }}">Back to product list</a>

{{ form_start(product_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(product_form) }}

    {{ form_row(product_form.category.name) }}
    {{ form_row(product_form.name) }}
    {{ form_row(product_form.price) }}
    {{ form_row(product_form.description) }}
{{ form_end(product_form) }}

{% endblock %}
